@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
body {
  min-height: 100vh;
  max-width: 100%;
}

#now-showing {
  min-height: 630px;
  width: 100%;
}

#now-showing .now-showing-inner {
  padding-top: 25px;
}

/* Carousel item */
#now-showing .carousel-item {
  min-height: 630px;
}
#now-showing .carousel-image-1 {
  background: #2ec7ba;
  /* background: url("https://source.unsplash.com/random/1280x720") no-repeat
    center/cover; */
}

#now-showing .carousel-image-2 {
  background: #6a9623;
  /* background: url("https://source.unsplash.com/random/1281x721") no-repeat
    center/cover; */
}

#now-showing .carousel-image-3 {
  background: #b8972c;
  /* background: url("https://source.unsplash.com/random/1282x722") no-repeat
    center/cover; */
}

#now-showing .carousel-image-4 {
  background: #862f33;
  /* background: url("https://source.unsplash.com/random/1283x723") no-repeat
    center/cover; */
}

/* Trending Daily Section */
#trending-daily {
  font-family: "Roboto Slab", serif;
}
